* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.index {
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fa;

}

.btn {
    background-color: #00c9a7;
    color: white;
    width: 150px;
}

.second-btn {
    background-color: white;
    color: black;

}

.footer {
    background-color: #00c9a7;
    height: 60px;
    margin-top: 70px;
}

.signin-body {
    background-image: linear-gradient(to right, #bf75f6, #d87cdf, #ec85bc);
}

.signin:active {
    box-shadow: inset 5px 5px 10px white, inset -5px -5px white;

}

.entrol-body {
    background-color: #bf75f6;
}